main {
  width: 80vw;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 auto;
}

.blob {
  width: 20vw;
  height: 25vw;
  border-radius: 50%;
  position: relative;
  animation: blob-shape 12s ease-in-out infinite;
  background-size: cover;
}

.text-content {
  text-align: left;
}

.text-content h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-align: left;
}

.text-content h2 strong {
  color: #00eaff;
}

.text-content p {
  color: #ccc;
  font-size: 1.1rem;
  max-width: 600px;
}

.cv-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #00eaff;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin-top: 1rem;
  text-align: center;
}

.cv-button:hover {
  color: #00eaff;
  background: rgba(0, 234, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 234, 255, 0.5);
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .blob {
    width: 40vw;
    height: 40vw;
  }

  .text-content h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .cv-button {
    width: 50%;
    margin-top: 20px;
  }
}

@keyframes blob-shape {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 70% 60% 86% 50% / 60% 70% 50% 80%;
  }
  40% {
    border-radius: 60% 80% 79% 55% / 80% 69% 75% 70%;
  }
  60% {
    border-radius: 80% 70% 69% 75% / 50% 80% 60% 50%;
  }
  80% {
    border-radius: 60% 30% 70% 60% / 50% 60% 80% 75%;
  }
  100% {
    border-radius: 50%;
  }
}
