@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #000428, #004e92, rgb(61, 0, 123));
  min-height: 100vh;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
